.lines {margin-top: 502px;
	margin-left:14px;
	position: absolute;
	z-index: 90;
}

.l1 {background: #C8C7C6;
	height: 3px;
	width: 1000px;
	margin-left:64px;
	margin-top: -458px;
	position: absolute;
}

/*short connector, left-facing elbow */

.l-small-elbow {background: transparent;
	height: 410px;
	border-left: 0;
	border-bottom: 0;
	border-right: 3px solid #C8C7C6;
	border-top: 3px solid #C8C7C6;
	width: 12px;
	margin-left:65px;
	margin-top: -457px;
	position: absolute;
	-webkit-border-top-right-radius: 12px;
-moz-border-radius-topright: 12px;
border-top-right-radius: 12px;
}

.l3 {background: transparent;
	height: 56px;
	border-left: 3px solid #C8C7C6;
	border-bottom: 3px solid #C8C7C6;
	border-right: 3px solid #C8C7C6;
	border-top: 0;
	width: 710px;
	margin-left:74px;
	margin-top: -439px;
	position: absolute;
	-webkit-border-bottom-right-radius: 12px;
-webkit-border-bottom-left-radius: 12px;
-moz-border-radius-bottomright: 12px;
-moz-border-radius-bottomleft: 12px;
border-bottom-right-radius: 12px;
border-bottom-left-radius: 12px;
}

/* .l4 is just to the right of 'Archive Page' */

.l4 {background: transparent;
	height: 56px;
	border-left: 3px solid #C8C7C6;
	border-bottom: 3px solid #C8C7C6;
	border-right: 3px solid #C8C7C6;
	border-top: 0;
	width: 710px;
	margin-left:74px;
	margin-top: -368px;
	z-index: 500;
	position: absolute;
	-webkit-border-bottom-right-radius: 12px;
-webkit-border-bottom-left-radius: 12px;
-moz-border-radius-bottomright: 12px;
-moz-border-radius-bottomleft: 12px;
border-bottom-right-radius: 12px;
border-bottom-left-radius: 12px;
}

.l5 {
	margin-left:74px;
	margin-top: -295px;

}

.l6 {margin-left:74px;
	margin-top: -235px;
}

.l7 {background: transparent;
	height:400px;
	border-right: 3px solid #C8C7C6;
	margin-left:74px;
	margin-top: -438px;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	border-bottom-right-radius: 12px;
}

.l8 {background: transparent;
	margin-top: -430px;
	width: 955px;
	height: 462px;
	border-left: 0;
	border-bottom: 3px solid #C8C7C6;
	border-right: 3px solid #C8C7C6;
	-webkit-border-bottom-right-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	border-bottom-right-radius: 12px;
}

.elbowtopright {margin-left:302px;
	height: 32px;
	margin-top: -182px;
}



.elbowtopright-singular-page {margin-left:64px;
	height: 200px;
	margin-top: 29px;
}

.elbowtopright-single-post-page {margin-left:186px;
	height: 140px;
	margin-top: 29px;
}

.elbowtopright-page-template {margin-left:299px;
	height: 36px;
	margin-top: 235px;
}
/************************************/
.elbowtopright-front-page {margin-left:186px;
	height: 32px;
	margin-top: 355px;
}

.elbowtopright-paged-false {margin-left:890px;
	height: 56px;
	margin-top: -458px;
}

.elbowboth-custom-post-to-single {margin-left:195px;
	margin-top: 56px;
	height: 50px;
	width: 589px;
	border-right: 3px solid #C8C7C6;
	border-left: 3px solid #C8C7C6;
	border-bottom: 3px solid #C8C7C6;
	border-top: 0;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
}

.elbowboth-blog-post-to-single {
	margin-top: 98px;
	height: 80px;
}

.elbowboth-front-page-to-home {
	margin-top: 13px;
	height: 30px;
}

.elbowboth-blog-posts-index-page-to-home {margin-left:64px;
	margin-top: 33px;
	width: 720px;
	height: 70px;
	border-left: 0;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius-bottomleft: 0px;
	border-bottom-left-radius: 0px;
}

.comments-popup-page {
	margin-top: -178px;
	width: 955px;
	height: 350px;
}

.error-404-page {
	margin-top: -105px;
}

.search-result-page {
	margin-top: -33px;
}

.elbowboth-singular-page-to-index {
	margin-left:73px;
	margin-top: 58px;
	height: 180px;
	width: 830px;
}

.elbowboth-custom-to-page-slug {
	margin-left:483px;
	margin-top: 156px;
	height: 72px;
	width: 146px;
	border-right: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 12px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px
}

.singular-page-to-index-extra {background: transparent;
	border-right: 3px solid #C8C7C6;
	height: 64px;
	width: 1px;
	margin-left: 1016px;

}

.elbowboth-page-template-to-page {
	margin-left:308px;
	margin-top: 188px;
	height: 40px;
	width: 476px;
}

.elbowboth-paged-false {margin-left:899px;
	height: 30px;
	width: 120px;
	margin-top: -413px;
	border-right: 3px solid #C8C7C6;
	border-left: 3px solid #C8C7C6;
	border-bottom: 3px solid #C8C7C6;
	border-top: 0;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
}

.elbowtopleft {
	height: 32px;
	border-right: 0;
	border-bottom: 0;
	border-left: 3px solid #C8C7C6;
	border-top: 3px solid #C8C7C6;
	width: 12px;
	margin-left:781px;
	margin-top: -458px;
	position: absolute;
	-webkit-border-top-left-radius: 12px;
-moz-border-radius-topleft: 12px;
border-top-left-radius: 12px;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topright: 0;
border-top-right-radius: 0;
}

.elbowtopleft-index-dot-php {
	margin-left:1016px;
}

.elbowtopleft-single {
	margin-top: 29px;
	height: 64px;
}

.elbowtopleft-page {
	margin-top: 236px;
	height: 20px;
}

.elbowtopleft-home {
	margin-top: 354px;
}

.elbowboth-custom-post-to-single.home-to-index {
	margin-top: 311px;
	right: 0px;
	border-left: 0;
	border-bottom-left-radius: 0;
	width: 132px;
}

.elbowtopleft-date {
	margin-left:428px;
	margin-top: -182px;
}

.elbowbottomleft-date-archives {margin-left:311px;
	height: 30px;
	width: 120px;
	margin-top: -166px;
	border-right: 3px solid #C8C7C6;
	border-left: 3px solid #C8C7C6;
	border-bottom: 3px solid #C8C7C6;
	border-top: 0;
	-webkit-border-bottom-right-radius: 12px;
	-webkit-border-bottom-left-radius: 12px;
	-moz-border-radius-bottomright: 12px;
	-moz-border-radius-bottomleft: 12px;
	border-bottom-right-radius: 12px;
	border-bottom-left-radius: 12px;
	-webkit-border-top-right-radius: 0;
	-moz-border-radius-topright: 0px;
	border-top-right-radius: 0px;
}

.elbowbottomleft-date-archives-2 {
	margin-top: -150px;
	height: 56px;
}

.site-front-page {
	margin-left:38px;
	height: 120px;
	width: 220px;
	margin-top: 174px;
	border-bottom: 3px solid #C8C7C6;
	border-right: 3px solid #C8C7C6;
	-webkit-border-bottom-right-radius: 48px;
	-moz-border-radius-bottomright: 48px;
	border-bottom-right-radius: 48px;
}

.singular-elbow-left {
	margin-top: 29px;
	right: 107px;
}

.singular-connector-right {
	border-top-left-radius: 0;
	margin-top: 64px;
	height: 116px;
	right: -9px;
	border-top: 0;
}