body {
	font-size: 16px;
	font-family: $font-main;
	overflow-x: hidden;

	* {
		max-width: 100%;
	}

	header,
	main,
	footer {
		display: block;
		margin: 0 auto;
		padding: 10px;
		max-width: 2048px;
	}

	header {
		text-align: center;

		nav {
			ul li {
				display: inline-block;
			}
		}
	}
}

hr {
	border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

h1 {
	font-size: 2em;
	font-weight: 900;
	margin: .2em 0;
	text-transform: uppercase;
	color: #1f0c41;
}

h2 {
	margin: -.2em 0 0 0;
	font-size: 1.4em;
	color: #038c7d;
}

h2 a {
	color: #ef5223;
}

.wpshout-brand {
	font-weight: 900;
	text-transform: uppercase;
	text-decoration: none;
}

// see grid partial for docs if needed.
$col-groups: (12);
$gutter-width: 0;

// header and button font
header, button {
	font-family: $font-main;
}

// menu
nav {
	background: $wph-blue;
	position: fixed;
	width: 100%;
	height: 150px;
	left: 0;
	bottom: -150px;
	z-index: 1000;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

	legend {
		color: $wph-white;
		padding: 1em;
		margin: 0;
		font-weight: 300;
		background: $wph-blue-dark;
		height: 100%;
		width: 20%;
		float: left;

		h3 {
			font-size: 1.0em;

			&:before {
				content: '';
				height: 32px;
				width: 32px;
				display: none;
				margin: 0 auto;
				background: url('assets/svg/wp.svg') no-repeat center center;
			}
		}
	}

	a {
		display: block;
		font-size: 1.1em;
		font-weight: 300;
	}

	a.primary,
	a:not(.version) {
		color: $wph-white;
		float: left;
		width: 20%;
		padding: 0.5em;
		border-right: 1px solid $wph-blue-dark;
		text-decoration-style: none;

		&.extras {
			width: 60px;
			color: $wph-blue;
			border-right: 0;
			padding: 0.5em;
		}

		&.ref {
			width: max-content;
			padding: 1px;
			border: 0;
			float: none;
			display: inline;
		}

		&.ref:hover,
		&.ref:focus {
		}

		&:hover,
		&:focus {
			background: $wph-blue-dark;
			color: $wph-white;
		}

		&:active {
			background: $wph-blue-dark;
			color: #47a3da;
		}
	}

	.meta {
		width: 100%;
		color: $wph-white;
		padding: 0.5rem 0.5rem 0.3rem 0.5rem;
		background: $wph-blue;
		text-align: left;
		border-bottom: 1px solid $wph-blue-dark;
		display: table-cell;
		line-height: 1;

		h4 {
			color: $wph-blue-dark;
			font-weight: bold;
			margin: 0;
		}

		.updates {
			width: 10%;
		}

		.credits {
			width: 36%;
		}

		.credits,
		.updates {
			display: table-cell;
			padding: 0;

			a {
				color: $wph-gray;

				&:hover,
				&:focus {
					color: $wph-white;
				}
			}

			p {
				margin-top: .5rem;
				span {
					color: $wph-gray;
					font-weight: bold;
				}
			}
		}
	}
}

ul li {
	span {
		color: $wph-gray;
	}
}

nav.open {
	bottom: 0;
}

button {
	cursor: pointer;
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-left: -50px;
	padding: .5rem;
	min-width: max-content;
	width: 100px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	appearance: none;
	-webkit-appearance: none;
	background: $wph-blue;
	color: $wph-white;
	border: 0;
	font-size: 1.3em;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;

	&.active {
		bottom: 150px;
	}
}

.version {
	font-size: 1.3em;
	color: $wph-white;
}

@media screen and (max-width: 55em){

	nav {
		font-size: 75%;
		height: 110px;
		bottom: -110px;
	}

	button.active {
		bottom: 110px;
	}
}


@media screen and (min-width: 1024px) {
	nav legend {
		h3 {
			font-size: 1.8em;

			&:before {
				display: block;
			}
		}
	}

	.updates {
		display: table-cell;
	}

	.credits,
	.updates {
		padding: .5rem;
	}
}
