$wph-gray       : rgba(71, 68, 67, 1);
$wph-gray-light : rgba(237, 236, 236, 1);
$wph-blue       : rgba(102, 172, 195, 1);
$wph-blue-mid   : rgba(0, 117, 156, 1);
$wph-blue-dark  : rgba(0, 117, 156, 1);
$wph-orange     : #ef5223;
$wph-white      : rgba(255, 255, 255, 1);
$wph-black      : rgba(17, 17, 17, 1);
$font-main		: "Titillium Web", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif
