$wph-gray       : rgba(71, 68, 67, 1);
$wph-gray-light : rgba(237, 236, 236, 1);
$wph-blue       : rgba(102, 172, 195, 1);
$wph-blue-mid   : rgba(0, 117, 156, 1);
$wph-blue-dark  : rgba(0, 117, 156, 1);
$wph-orange     : rgba(223, 76, 39, 1);
$wph-white      : rgba(255, 255, 255, 1);
$wph-black      : rgba(17, 17, 17, 1);
